body {
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.board {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0; /* No gap between the inner-box */
}

.box {
	width: 180px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 2px solid #333;
	font-size: 36px;
	font-weight: bold;
	cursor: pointer;
}

.inner-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.inner-box {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	border: 1px solid #afafaf;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.player-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 40%;
	padding: 10px;
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 10px;
	margin-top: 20px;
}

#player1, #player2 {
	font-size: 20px;
	font-weight: bold;
}

#timer {
	font-size: 20px;
	font-weight: bold;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	padding: 20px;
	border: 2px solid #000000;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	display: none; /* Initially hidden */
}